[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
alembic = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
mako = "*"
markupsafe = "*"
sqlalchemy = "*"
werkzeug = "*"
zipp = "*"
flask-restful = "*"
flask-marshmallow = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.12"
