:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin-right: 50%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
.net {
  position: absolute;
  top: 5%;
  left: 7%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 25px;
}
.back {
  width: 100vw;
  height: 100vh;
  opacity: 45%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.sign {
  position: absolute;
  font-weight: 600;
  font-style: normal;
  width: 85px;
  top: 5%;
  left: 95%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}
.sign-out {
  position: absolute;
  font-weight: 600;
  font-style: normal;
  width: 85px;
  top: 5%;
  left: 92%;
  transform: translate(50%, -50%);
  font-size: 20px;
}
.sign :hover {
  content: "";
  color: rgb(243, 0, 0);
}
.sign :link {
  color: white;
}
.sign :visited {
  color: aliceblue;
}
.sign-out :link {
  color: white;
}
.sign-out :visited {
  color: white
}
.sign-out :hover {
  content: "";
  color: red;
}
.home-link{
  position: absolute;
  font-weight: 600;
  font-style: normal;
  width: 85px;
  top: 5%;
  left: 89%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: rgb(255, 255, 255);
  padding: px;
  text-decoration: none;
  border: none;
  border-radius: 7%;
}

.home-link :visited {
  color: aliceblue;
}
.home-link :hover {
  color: red;
}
h2, h3{
  color: white;
}

.home {
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

.btn{
  background-color: red;
  border: none;
  padding: 10px;
  width: 125px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}
.home-form {
  margin-top: 30px;
}
.home-form input {
  background-color: rgb(252, 252, 252);
  padding: 12px;
  border: none;
  width: 300px;
  border-radius: 5px;
  
}
input {
  color: #000;
}


li {
  display: inline;
  margin-right: 85px;
  font-weight: bold, 500;
  font-size: 17px;
  font-style: italic;
}

/* nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
} */


/* nav ul {
   display: flex; 
   list-style-type: none; 
} */

/* nav ul li {
  margin: 0 10px;
} */

/* @media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul li {
    margin: 5px 0;
  }
} */
